@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto Condensed;
font-weight: 900;
font-size: 15px;
color: #fff;
background-color: #2a9d8f;
padding: 10px 30px;
border: solid #2a9d8f 2px;
box-shadow: rgba(0, 180, 216, 0.57) 0px 5px 25px 5px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: lowercase;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #ffffff;
color: #2a9d8f;
border: solid 2px #00b4d8;
}